<div class="row" show-scope-change="B app">
	<div class="col-md-5">
		<!-- <div class="alert alert-warning" ng-repeat="bookmark in bookmarks | limits: currentPage:countItems " ng-click="getListTags(bookmark);">
			<button class="btn btn-warning" ng-click="editBookmark($event, bookmark)" ng-disabled="isEdit">Edit</button>
			<button class="btn btn-danger" ng-click="deleteBookmark($event, bookmark)" ng-disabled="isEdit">Delete</button>
			&nbsp;&nbsp;{{bookmark.title}} ({{bookmark.tags.length}})
		</div> -->
		<!-- <pagination items-per-page="countItems" total-items="totalItems"
				ng-model="currentPage" class="pagination-sm pull-right"
				ng-change="pageChanged()"
				previous-text="&lsaquo;" next-text="&rsaquo;"></pagination> -->
	</div>
	<div class="col-md-7">
  		<!-- <h3>{{selectedItemText}}</h3>
  		<div class="alert alert-info" ng-repeat="tag in tags">{{tag}}</div> -->
  	</div>

</div>