<form class="form-inline well">
	<button type="button" class="btn btn-success" ng-click="createBookmark()"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add</button>
	&nbsp;&nbsp;<label>Filter:</label> <input type="text" class="form-control" ng-model="filter" placeholder="Filter"/>
	<button type="button" class="btn btn-warning" ng-click="getBookmarWithFilter()"><span class="glyphicon glyphicon-search"></span></button>
	<button type="button" class="btn btn-default" ng-click="filter = '';getBookmarWithFilter()"><span class="glyphicon glyphicon-remove"></span></button>
	<button type="button" class="btn btn-info pull-right" 
		ng-click="showLastEditBookmark()"
		ng-disabled="!selectedItem">
		<span class="glyphicon glyphicon-pencil">&nbsp;</span>Edit last item</button>
</form>